{% extends 'base.html.twig' %}

{% block title %}Create new Book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>
    <form class="lolo" action="{{path('book_store')}}" method="POST">
        <div class="line"><span class="table-title">Title:</span><input type="text" name="book_title"></div>
        <div class="line"><span class="table-title">Pages:</span><input type="text" name="book_pages"></div>
        <div class="line"><span class="table-title">ISBN:</span><input type="text" name="book_isbn"></div>
        <div class="line"><span class="table-title">Short description:</span><div style="margin-left: 70px;"><textarea name="book_short_description" id="summernote"></textarea></div></div>
        <div class="line">
            <select class="ml-1 lolo" name="book_author_id">
                <option value="0">Select Author</option>
                {% for author in authors %}
                <option value="{{author.id}}">{{author.name}} {{author.surname}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="line">Add new Book</button>
    </form>
    <script>
        $('#summernote').summernote('code');
    </script>
{% endblock %}